@model SessionInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ECGridOS Results</h1>
    <p>Version: @ViewData["EGridVersion"]</p>
    <p>SessionID: @Model.SessionID</p>
</div>

