@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-4">ECGridOS Results</h1>
    <p>Version: @ViewData["EGridVersion"]</p>
    <p>SessionID: @ViewData["EGridSessionID"]</p>
</div>
