<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECGridOS_Mailbox_IO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <ECGridOS_Mailbox_IO.Properties.Settings>
      <setting name="ECGridOS_Mailbox_IO_net_ecgridos_ECGridOS_x0020_API_x0020_v3"
        serializeAs="String">
        <value>https://ecgridos.net/v3.2/prod/ecgridos.asmx</value>
      </setting>
      <setting name="ECGridOS_Mailbox_IO_com_ecgrid_analytics_ECGridAnalytics"
        serializeAs="String">
        <value>https://analytics.ecgrid.com/soap.asmx</value>
      </setting>
    </ECGridOS_Mailbox_IO.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="TimeOut" value="120000" />
    <add key="SMTPFrom" value="" />
    <add key="SMTPFromName" value="ECGridOS Mailbox IO" />
    <add key="SMTPHost" value="" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPSSL" value="false" />
    <add key="SMTPAuth" value="false" />
    <add key="SMTPUserName" value="" />
    <add key="SMTPPassword" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>